#propertyGeneratingButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;

}

#generatedProperties {
  top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

.property {
  background-color: salmon;
  margin: 1em;
  padding: 1em;
}

.property p {
  display: inline;
  padding: .5em;
  margin: 2em;
  text-align: center;

}

.property button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
